body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap:10px
}

.app-header {
  flex: 1;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.app-header h1 {
  margin: 0;
}
.content-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
}

.form-container,
.chart-container {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.list-container {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  /* .form-container,
  .chart-container,
  .list-container {
    width: 100%;
  } */
}
